@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  *::selection {
    background: #5E3A16;
    color: #fff;
  }
}
